/* start of bariables */
:root{
    --main-color:#014d27;
    --sec-color:#111d19c2;
    --main-padding:70px;
}
/* end of variables */
/* start of commn */
.sp-heading  {
  text-align: center;
  position: relative;
  /* max-width: 500px; */
}
.sp-heading h3{
  font-size: 28px;
  font-weight: 400;

  position: relative;
}
.sp-heading h3::after{  
  content: "";
  background-color: black;
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 1.8px;

}
.sp-heading h3::before{  
  content: "";
  border: 1px solid black;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  z-index: 2;
}
.sp-heading p{
  color: #333;
  width: 400px; ;
  margin: auto;
  margin-top:60px;
  
}
.over-lay{
  position: absolute;
  top: 0;


  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.719);
  z-index: 1;
}
/* end of commn */

/* genaral rules  */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    /* background-color: black; */
    
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;

}
/* @media (min-width:412px) {
    .container{
        width: 300px;
    }
} */
@media (min-width:769px) {
    .container{
        width: 850px;
    }
}
@media (min-width:992PX) {
    .container{
        width: 970px;
    }
    
}
@media (min-width:1200PX) {
    .container{
        width: 980px;
    }
}

/* end of the genaral rules */
/* start of the header  */
header{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
    font-weight: 700;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .container::after{
    content: "";
    position: absolute;
    background-color: white;
    width: calc(100% - 120px);
    height: 0.4px;
    top: 98.73323131313131133331313131313133333%;
    right: 53px;
    z-index: -1;
  }

header .container ul{
    list-style: none;
    display: flex;
    /* justify-content: space-between; */
}
header .container nav{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header .fa-brands{
  color: white;
  font-size: 50px;
}
header .container nav li a{
    padding:25px 15px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 300ms;
    display: block;
    
}
header .container nav li a:active,
header .container nav li a:hover{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    /* border-radius: 10px */
    
}
header .container nav i{
    color: white;
    /* position: absolute; */
   /* transform: translate(50%,50%); */

}
header .container nav .search-icon{
    border-left: 1px solid white;
    padding-left: 15px;
    position: relative;
    margin-left: 60px;
}
header .fa-bars{
    display: none;
}
header .container .bars-d{
    position: relative;
}
header .container .links{
    border: 1px solid white;
    position: absolute;
    top: 33px;
    right: 0;
    display: none;
}
header .container .links::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    right: 0px;
    top: -20px;

}


header .container .links ul{
    display: flex;
    flex-direction: column;
    
}
header .container .links ul a{
    padding: 7px 0px;
    padding-left: 9px;
    width: 150px;
}
@media (max-width: 566px) {
    header .fa-bars{
        display: inline;
    }
    header .container nav li .main {
        display: none;
    }
    header .container .bars-d .links{
        transition: 500ms;
    }
    header .container .bars-d:hover .links
    {
        display: block;
    }
}



/* end of the header  */
/* start of landing */
.landing{
    background-image: url(../images/pexels-cátia-matos-1072179.jpg);
    -o-background-image: url(../images/pexels-cátia-matos-1072179.jpg);
    background-size: cover;
    height: calc(100vb ) ;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
    padding-bottom: var(--main-padding);
}
.landing i{
  color: white;
}
.fa-angle-left{
  position: absolute;
  font-size: 27px;
  left: 40px;
}

.fa-angle-right{
  position: absolute;
  right: 40px;
  font-size: 27px;
}


.landing .container{
  color: white;
  font-size: 14px;
  position: relative;
}
.landing .container p{
  font-size: 12px;
  max-width: 500px;
}
/* .landing .container::after{
  content: "";
  position: absolute;
  background-color: var(--sec-color);
  width: 100%;
  height: calc(100% + 60px);
  top: -5%;
  z-index: -1;
  right: calc(100% - 574px);
} */
.landing .container .text{
  height: calc( 205px);
  background-color: var(--sec-color);
  width: 125%;
  transform: translateX(-38%);
  padding-left: 346px;
  padding-top: 10px;
  z-index: -9;
  position: relative;
}
@media (max-width: 626px) {
  .landing .container h1:nth-of-type(2){
    margin-bottom: 1px;

  }
  
}
.landing ul{
  list-style: none;
  display: flex;
  position: absolute;
  left: 50%;
  top: 95%;
  transform: translate(-50%, -50%);
  
}
.landing li{
  border: 1px solid white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 10px;
}
.landing .acitve{
  background-color: var(--main-color);
  border-color: var(--main-color);
}

/* end of landing */
/* start of services */
.services{
  background-color: #ebebeb ;
  padding-top:var(--main-padding);
  padding-bottom: var(--main-padding);
}
.services .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 30px;
  margin-top: 40px;
  justify-content: center;
}
@media (max-width: 740px )  {
  .services .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .services .container .cont {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}



.services .container .cont {
  display: flex;
  gap:40px;
}
.services .container .cont i{
  color: var(--main-color);
  font-size: 30px;
}
.services .container .cont h2 {
  color:rgb(0, 0, 0);
  font-weight: 400;
  margin-bottom: 14px;
  font-weight: 700;
}
.services .container .cont p {
  color: rgba(0, 0, 0, 0.274);
  font-size: 14px;
  max-width: 350px;
}
/* end of services */
/* start mid bet services and protoflo */
.mid-ser-pro{
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-image: url(../images/pexels-cátia-matos-1072179.jpg);
  background-size: cover;
  height: 400px;
  position: relative;
}

.mid-ser-pro img{
  position: absolute;
  width: 450px;
  left: 50px;
  z-index: 2;
}
.mid-ser-pro .text{
  position: absolute;
  right: 0;
  color: white;
  z-index: 2;
  padding: 40px;
  padding-left: 50px;
  padding-right: 280px;
  background-color: var(--sec-color);
}
.mid-ser-pro .text h3{
  margin-bottom: 50px;
  font-weight: 500;
}
.mid-ser-pro .text ul{
  list-style: none;
  line-height: 40px;
  font-weight: 200;
}
.mid-ser-pro .text ul li{
  display: flex;
  gap: 20px;
  align-items: center;
}
@media (max-width: 1092px ) {
  .mid-ser-pro img{
    display: none;
  }
}
@media (max-width: 605px) {
  .mid-ser-pro .text{
    /* text-align: center; */
    padding-right: 100px;
  }
}

/* end mid bet services and protoflo */
/* start protfolio */
.portfolio{
  padding-bottom:var(--main-padding) ;
  padding-top: var(--main-padding);
  /* position: relative; */
  text-align: center;
}
.portfolio .img-container{
  display: flex;
  flex-wrap: wrap;
}
.portfolio .img-container .box{
  /* flex-basis: 25%; */
  position: relative;
  cursor: pointer;
}
@media (min-width: 760px) {
  .portfolio .img-container .box{
    flex-basis: 50%;
  }
  
}

@media (min-width: 900px) {
  .portfolio .img-container .box{
    flex-basis: 25%;
  }
  
}
.portfolio .img-container img{
  max-width: 100%;
  transition: 500ms;
}
.portfolio .img-container img:hover{
  transform: rotate(4deg);
}
.portfolio .img-container .box .cap{

  position: absolute;
  opacity: 0;
  width: 100%;
  height: 35%;
  background-color: #ffffffc0;
  color: rgb(0, 0, 0);
  top: 99%;
  /* padding-top: 20px; */
  transition: transform 300ms, opacity 500ms;
  font-size: 12px;
  text-align: start;
  padding-left: 14px;
  padding-top: 14px;
  /* padding-bottom: 11px; */
  /* z-index: 1; */
}
.portfolio .img-container .box .cap h3{
  font-size: 17px;
  font-weight: 800;
  color: #008a45;
  /* color: black; */
}
.portfolio .img-container .box .cap p{
  font-size: 10px;
  font-weight: 200;
  /* color: #014d27; */
}

.portfolio .img-container .box:hover .cap{
  /* display:inherit; */
  transform: translateY(-101%);
  opacity: 1;
  
  
}
.portfolio .buttons{
  width: 100%;
  display: flex;
  justify-content: center;
}

.portfolio ul{
  list-style: none;
  display: flex;
  padding: px;
  padding-top: 80px;
  padding-bottom: 10px;
  
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%); */

}
.portfolio ul li{
  margin-left: 17px;
  font-size: 13px;
  padding:7px 17px;
}
.portfolio ul .active{
  color: white;
  background-color: var(--main-color);
  /* padding: px; */
}
.m-button{
  background-color: #fff;
  position: relative;
  width: 100%;
  height: 100px;
  z-index: 2;
}
.m-button button{
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%,-50%);
  width: 120px;
  height: 31px;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  transition: 300ms;
}

.m-button button:hover{
  background-color: white;
  color: var(--main-color);
  border: black solid 1px;
  font-weight: 800;
}
.the-vid{
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-image: url(../images/pexels-cátia-matos-1072179.jpg);
  background-size: cover;
  height: 400px;
  position: relative;
}
.the-vid .info{
  position: absolute;
  background-color: var(--sec-color);
  color: white;
  transform: translate(-50%,-50%);
  height:210px;
  width: 100%;
  left: 50%;
  top: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
 
}
.the-vid .info p{
  font-size: 12px;
}
.the-vid .info button{
  width: 120px;
  height: 31px;
  background-color:var(--main-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  transition: 300ms;
  font-size: 13px;

}
.the-vid .info button:hover{
  background-color: white;
  color: var(--main-color);
  font-weight: 800;
}
/* end protfolio */
/* start of about */
.about{
  /* padding-bottom:var(--main-padding) ; */
  
  /* position: relative; */
  text-align: center;
}
.about img{
  max-width: 284px;
  margin-top: -28px;
}
.stats{
  /* padding-top: var(--main-padding); */
  padding-bottom: var(--main-padding);
  background-image: url(../images/pexels-cátia-matos-1072179.jpg);
  background-size: cover;
  height: 320px;
  position: relative;
  text-align: center;
}
.stats::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.719);
}
.stats .container{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: var(--sec-color);
  width: 100%;
}
.stats .container .box{
  /* background-color: var(--sec-color); */
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px
  ;
}
@media (max-width: 991px) {
  .stats .container .b4{
    display: none;
  }
}

@media (max-width: 669px) {
  .stats .container .b-3{
    display: none;
  }
}
@media (max-width: 521px) {
  .stats .container{
    justify-content: center;
  }
  }
.stats .container .box i{
  background: black;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.stats .container .box .num{
    font-size: 41px;
    font-weight: 800;
}
.stats .container .box p{
    font-size: 12px;
}
@media (max-width: 493px) {
  .stats .container .box .num{
    font-size: 40px;
  }
  .stats .container .box{
    padding: 20px 0 ;
  }
}
  
/* end of about */
/* start of after about */
.skills{
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.skills .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap:50px;
} 
.skills .container .section{
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.skills .container .coln{
  display: flex;
  font-size: 15px;
  justify-content: space-around;
  gap: 40px;
  align-items: center;
  
}
.skills .container .coln img{
  width: 100px;
  /* border: 1px solid  red ; */
  border-radius: 50%;
  box-shadow: 0 0 4px 5px #00000056;
}
.skills .container .coln .text {
  position: relative;
  border-bottom:1.72px solid #33333365;
  padding-bottom: 27px;
}
.skills .container .coln .text h5{
  font-weight: 300;
  line-height: 25px;
}
.skills .container .coln .text p{
  position: absolute;
  right: 0;
  color: #33333365;
}
.skills .slide{
  list-style: none;
  display: flex;
  position: absolute;
  left: 50%;
  top: 108%;
  transform: translate(-50%, -50%);
  
}
.skills li{
  border: 1px solid gray;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 10px;
}
.skills .acitve{
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* start of the sec-section */
.skills .section .column{
  position: relative;
}
.skills .section .column .the-num{
  position: absolute;
  z-index: 4;
  top: -29px;
  left: 348px;
  font-size: 14px;
  background-color:#353235 ;
  color: white;
  padding: 3px 6px;
}
.skills .section .column .n-1{
  left: 83%;
}
.skills .section .column .n-2{
  left: 78%;
}
.skills .section .column .n-3{
  left: 65%;
}
.skills .section .column .n-4{
  left: 73%;
}

@media (max-width:766px ) {
  .skills .section .column .n-1{
    left: 85%;
  }
  .skills .section .column .n-2{
    left: 80%;
  }
  .skills .section .column .n-3{
    left: 67%;
  }
  .skills .section .column .n-4{
    left: 75%;
  }
}
@media (max-width:429px ) {
  .skills .section .column .n-1{
    left: 82%;
  }
  .skills .section .column .n-2{
    left: 77%;
  }
  .skills .section .column .n-3{
    left: 64%;
  }
  .skills .section .column .n-4{
    left: 72%;
  }
}


.skills .section .column .the-num::after{
  content: "";
  border-width: 6px;
  border-style: solid;
  border-color: #353235 transparent transparent transparent;
  position: absolute;
  right: 33%;
  top: 100%;
}


.skills .section .column h4{
  position: absolute;
  font-weight: 400;
  right: 10px;
  top: -23px;
  left: 0;

}
.skills .section .column .the-pre{
  height: 20px;
  width: 100%;
  background-color: #dedadc;
  position: relative;
}
.skills .section .column .pre-1::after{
  content: "";
  position: absolute;
  width: 88%;
  height: 100%;
  background-color: var(--main-color);
}
.skills .section .column .pre-2::after{
  content: "";
  position: absolute;
  width: 83%;
  height: 100%;
  background-color: var(--main-color);
}


.skills .section .column .pre-3::after{
  content: "";
  position: absolute;
  width: 70%;
  height: 100%;
  background-color: var(--main-color);
}

.skills .section .column .pre-4::after{
  content: "";
  position: absolute;
  width: 78%;
  height: 100%;
  background-color: var(--main-color);
}

.hoksh{
  background-image: url(/images/pexels-cátia-matos-1072179.jpg);
  height: 300px;
  width: 100% ;
  background-size: cover;
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;

}
.hoksh .text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: var(--sec-color);
  color: white;
  width: 100%;
  height: 70%;
  text-align: center;
  display: flex;  
  flex-direction: column;
  padding: 0 auto;
  align-items: center;
  gap: 20px;
  justify-content: center;
  z-index: 1;
}
.hoksh .text h3{
 font-weight: 400; 
 font-size: 50px;
}

@media (max-width: 606px) {
  .hoksh .text h3{
    
    font-size: 40px;
   }
   .hoksh .text p{
    font-size: 12px;
   }
}
@media (max-width: 450px) {
  .hoksh .text h3{
    
    font-size: 30px;
   }
   .hoksh .text p{
    font-size: 12px;
   }
}

/* .hoksh .text p{
 
} */


/* end of  after about */

/* end of  after about */
/* start of pricing */
.pricing{
  padding-top:var(--main-padding) ;
  padding-bottom: var(--main-padding);
}


.pricing .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
}
.pricing .container .row{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}
.pricing .container .row .price{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  border-bottom: 1px solid var(--main-color);
  border-top: 1px solid var(--main-color);
  padding: 20px 0;
  width: 197px;
}
.pricing .container .row .price p{
  text-transform: uppercase;


}
.pricing .container .row .act-price{
  display: flex;
  gap: 10px;
  font-size: 37px
}
.pricing .container .row .act-price p{
  font-size: 20px;
}
.pricing .container .row .act-price span{
  font-size: 10px;
  text-transform:uppercase ;
}
.pricing .container .row .feat{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
  text-align: center;
  
  
}
.pricing .container .row .feat p{
  padding:14px 0 ;
}

.pricing .container .row .feat p:not(:nth-of-type(1)){
  border-top: 1px solid var(--main-color);
  

}
.pricing .container .row .button{
  width: 197px;
  border-top: var(--main-color) 1px solid;
  position: relative;
  height: 108px;
}
.pricing .container .row .button button{
  position: absolute;
  left:50% ;
  top: 50%;
  transform:  translate(-50% , -50%);
  width: 120px;
  height: 33px;
  background-color: white;
  border: 2px var(--main-color ) solid;
  cursor: pointer;
  transition: 300ms;

}
.pricing .container .row .button button:hover{
  color: white;
  background-color: var(--main-color);
  /* font-weight: 700; */

}
.pricing footer{
  text-align: center;
}
.pricing  footer button{
  height: 41px;
  width: 130px;
  background-color: var(--main-color);
  color: white;
  border: none;
  /* border-radius: 4px; */
  font-weight: 700;
  cursor: pointer;
  transition: all 300ms ease 0s;
  font-size: 13px;
  margin-top: 40px;
}
.pricing  footer p{
  
}

/* end of pricing */
/* start of contact */
.contact{
  background-image: url(/images/pexels-cátia-matos-1072179.jpg);
  height: 300px;
  width: 100% ;
  background-size: cover;
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  /* z-index: -2; */
}
.contact::before{
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.719);
  z-index: 0;
}
.contact .container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--sec-color);
  z-index: 2;
  position: relative;
}
.contact .container i{
  position: absolute;
  left: 14px;
  TOP: 12px;
  color: white;
}
.contact .container .enter{
  position: relative;
  display: flex;
}
.contact .container input{
  width: 440px;
  height: 40px;
  padding-left: 40px;
  position: relative;
  border: 1px solid white;
  background-color: transparent;
  z-index: 2;
}
.contact .container input[type=text]{
  color: white;
  outline: none;
}
.contact .container input::placeholder{
  color: white;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  caret-shape: none;
  opacity: 1;
}
.contact .container button{
  

}


/* end of contact */

